#content{
    width: 98%;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

textarea{
    width: 99%;
	/*background-image: url(custom-theme/images/bg1.jpg);*/
    margin: 0px;
    background-color: #F5F5F5;   
}

#error_txt{
    color: red;
}

#footer_tab{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.footer_textarea{
    font-family: monospace;
}

.grade_table tr td{
    padding: 5px;
}

.red_number{
    color:red;
    font-weight: bold;
}

#drop_zone{
    border: 2px dashed #BBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    color: #BBB;
}

.tab-close {
  font-size: 20px;
  font-weight: bold;
  line-height: 10px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.tab-close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.tab-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}