#content{
    width: 98%;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

textarea{
    width: 99%;
	/*background-image: url(custom-theme/images/bg1.jpg);*/
    margin: 0px;
    background-color: #F5F5F5;   
}

#footer_tab{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.footer_textarea{
    font-family: monospace;
}
