html, body{
    /*background-image: url('custom-theme/images/background.png');*/
}

#container{   
    margin-left: auto;
    margin-right: auto;
}

footer{
	clear: both;
    margin-top: 5px;
}

#footer_text{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 3px 3px 3px 3px;
    font-family: Tahoma,Ubuntu,Helvetica,Arial;
}
