html, body{
    /*background-image: url('custom-theme/images/background.png');*/
}

#container{   
    margin-left: auto;
    margin-right: auto;
}

footer{
	clear: both;
    height
}

#footer_text{
    float: right;
    margin: 3px 3px 3px 3px;
    font-family: Tahoma,Ubuntu,Helvetica,Arial;
}
