<div code-messaging-navbar></div>

<div id="main">
    <p>Partial view 2</p>

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-navbar">Navbar</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-inverse">Inverse</button>
    
    <p>
        Showing of 'interpolate' filter:
        {{ 'Current version is v%VERSION%.' | interpolate }}
    </p>

    {{tes}}
</div>
