<!--<button type="button" ng-click="log('asu')">asu</button>-->
<!--Title: <input ng-model="title"><br/>
Text: <textarea ng-model="text"></textarea>
<hr/>
<div class="zippy" zippy-title="Details: {{title}}...">{{text}}</div>-->
<div code-edit-navbar></div>

<div tabbed-pane
     items="tabs"
     item-title-attr="tabTitle"
     item-initial-content-attr="tabInitialContent">
</div>

<!-- dialog instantiation -->
<div open-file-dialog></div>
<div save-file-as-dialog></div>
<div import-file-dialog></div>
<div result-dialog></div>
<div compile-dialog
     item-title-attr="tabTitle">
</div>

<footer>
    <span id="footer_text">&copy; 2012 CodeEdit two-sub-app Team</span>
</footer>
<!--<div ui-keypress></div>-->
