<div code-messaging-navbar></div>

<div style="margin: 15px">
    <p>Select file(s):</p>
    <div class="btn-group" data-toggle="buttons-checkbox">
        <span ng-repeat="file in files">
            <input type="checkbox" value="{{file.fileName}}" ng-model="file.checked"> <span title="{{file.previewContent}}">{{file.fileName}}</span><br/>
        </span>
    </div>
    <div style="margin-top: 10px">
        <button ng-click="initializeFile()" class="btn btn-primary">Refresh List</button>
        <button ng-click="selectDeselect()" class="btn btn-navbar">{{selectDeselectStr}}</button>
    </div>
</div>

<hr/>

<footer>
    <div code-edit-footer></div>
    <span id="footer_text">&copy; 2012 DoppelGanger Team</span>
</footer>