<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#/view1">CodeEdit</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><button class="btn btn-danger" ng-click="compileBtnClick()">Compile</button></li>
                    <li><button class="btn btn-danger" ng-click="executeBtnClick()">Execute</button></li>
                    <!--<li><button class="btn btn-success">Submit</button></li>-->
                </ul>
                <ul class="nav pull-right">
                    <!--<li><a class=".pull-right">Timer: {{duration}} seconds</a></li>
                    <li><button class="btn btn-danger" ng-click="stopCodingBtnClick()">Grade</button></li>
                    <li class="divider-vertical"></li>-->
                    <li><button class="btn btn-success">Login</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>