<div class="modal hide" id="compileModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Compile</h3>
    </div>
    <div class="modal-body">
        <p>Please select the file(s) you want to compile</p>
        <div class="btn-group" data-toggle="buttons-checkbox">
            <span ng-repeat="fileName in fileNames">
                <input type="checkbox" value="{{fileName.tabTitle}}" checked> {{fileName.tabTitle}}<br/>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <a class="btn btn-primary" ng-click="compile()">Compile</a>
    </div>
</div>