<div class="modal hide" id="importFileModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Import File</h3>
    </div>
    <div class="modal-body">
        <!--<div id="drop_zone">Drop files here</div>-->
        <input type="file" id="files" name="files[]" multiple/>
        {{files}}
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Close</a>
        <a class="btn btn-primary" ng-click="importFiles()">Import Files</a>
    </div>
</div>
