<div class="modal hide" id="openFileModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Open File</h3>
    </div>
    <div class="modal-body">
        <p>Select the file(s) you want to open</p>
        {{noFile}}
        <div class="btn-group" data-toggle="buttons-checkbox">
            <span ng-repeat="file in files">
                <input type="checkbox" value="{{file.fileName}}" ng:model="file.checked"> <span title="{{file.previewContent}}">{{file.fileName}}</span><br/>
            </span>
        </div>
        <div style="margin-top: 10px">
            <button ng-click="selectDeselect()" class="btn btn-navbar">{{selectDeselectStr}}</button>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <a class="btn btn-primary" ng-click="open()">Open</a>
    </div>
</div>